body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.login-container {
    background-color: white;
    width: 100%;
    max-width: 400px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.login-container img {
    width: 150px;
    margin-bottom: 20px;
}
.login-container h2 {
    color: #1c1c1c;
    margin-bottom: 20px;
}
.login-container input[type="text"],
.login-container input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
}
.login-container button {
    width: 100%;
    padding: 10px;
    background-color: #1c1c1c;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.login-container button:hover {
    background-color:#1c1c1c;
}
.login-container p {
    margin-top: 15px;
    font-size: 14px;
    color: #888;
}
.login-container a {
    color: #1c1c1c;
    text-decoration: none;
}